body {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "description" "map-title" "main_content" "survey-button" "learn-more" "footer";
    background-color: rgb(255, 255, 255);
    gap: 10px;
}

header {
    grid-area: header;
    justify-self: left;
    align-self: left;
    margin: 50px;
}

.header-text {
    
}

.topnav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 10px;
}

.page-link {
    margin-left: 80px;
}

#pages {
    float: right;
}

.topnav-left {
    float: left;
    margin: 0px 50px 0px 0px;
  }

/* Style the links inside the navigation bar */
.topnav a {
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: rgb(227, 37, 69);
}

/* Add a color to the active/current link */
.topnav a.active {
    color: rgb(143, 36, 54);
}

#title {
    text-align: center;
}

#title-text {
    display: block;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

#footer {
    grid-area: footer;
}

.description {
    margin: 20px 50px 20px 50px;
}

.map-title {
    margin: 20px 50px 20px 50px;
}

.main {
    grid-area: main_content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main_map content";
    display: grid;
    margin: 50px;
}

#contents {
    grid-area: content;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "userStories" "chart"
}

#the_map {
    height: 80vh;
    grid-area: main_map;
    grid-template-areas: "map" "buttonHome"
}

#theSurvey {
    grid-area: survey;
    justify-self: center;
    /* added this to center the button in the div */
}

/* css for the button */
#surveyButton {
    grid-area: survey-button;
    padding: 15px 32px;
    margin: 10px;
    background-color: #4CAF50;
    cursor: pointer;
}

/* css for button to get rid of the underline */
#surveyButton a {
    text-decoration: none;
}

#placeForButtons {
    grid-area: buttonHome;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.learn-more {
    margin: 50px;
}